---
layout: default
---

{% for post in paginator.posts %}
<article class="{{ post.categories | first | downcase | replace: 'é','e' | replace: 'É','e' | append :'-box'}}">
  <div class="titre-categorie">
    <p>{{ post.categories }}</p>
  </div>
  <div class="content-wrap">
    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
    <aside class="author">
      <h4>publié par <strong>{{ post.author }}</strong> le <strong>{{ post.date | date: "%d/%m/%Y" }}</strong></h4>
    </aside>
  </div>
</article>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  <div class="pagination_int">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Précédent</a>
  {% else %}
    <span class="previous">Précédent</span>
  {% endif %}
  <!-- <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> -->
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Suivant</a>
  {% else %}
    <span class="next ">Suivant</span>
  {% endif %}
  </div>
</div>

<!-- {% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Précédent</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Suivant &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

 -->