
//
// VARIABLES
//

// Colors
$blue: #4183c4;
$vertdeau: #78d89c;
$rosecorail: #ff6d63;
$rougestrong: #f22e47;
$jaunedor: #fdcb32;

// Light Colors
$mintblue: #b5ffe1;
$lightjaunedor: #fee598;
$lightrouge: #fcd5da;
$lightcorail: #ffa7a1;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;


// Font stacks
$asap: 'Asap', sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}