
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$vertdeau: #78D89C;
$rosecorail: #FF6D63;
$rougestrong: #F22E47;
$jaunedor: #FDCB32;

// Light Colors
$mintblue: #B5FFE1;
$lightjaunedor: #FEE598;
$lightrouge: #FCD5DA;
$lightcorail : #FFA7A1;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;


// Font stacks
$asap: 'Asap', sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}