<!DOCTYPE html>
<html lang="fr">

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800|Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

</head>

<body>
  <div id="wrapper">
    <header>
      <a href="{{ site.baseurl }}/"><img src="/images/logo.svg" alt="logo Labex - Cinéphilies / Sériphilies" width="400" class="logo" /></a>
      <div class="blurb">
        <p>Pourquoi écrire et publier sur le web ce que l’on pense d’un film ou d’une série ? Quel site choisir pour ce faire ? Comment s’y prennent les critiques amateurs ? Quels blogs, quels forums, quelles pages sont-ils les plus visités en France ? Y a-t-il une façon propre au web d’écrire des critiques ? Quelles différences séparent ces textes de ceux des professionnels de la presse écrite ? Autant de questions dans l’attente d’une étude académique systématique de leurs réponses possibles. Venez découvrir sur cette page les enjeux du projets Cinéphilies / Sériphilies.</p>
      </div>

    </header>

     <div id="decouverte">
          <a href="/pages/projet.html">Découvrir le projet</a>
      </div>

    <nav class="themes">
      <ul>
        {% for category in site.categories %}
        <li><a href="/{{ category[0] | downcase | replace:'é','e' | replace: 'É','e'}}.html" class="{{ category | first | downcase | append :'-link' | replace:'é','e' | replace: 'É','e' }}">{{ category[0] }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <div class="clearfloat"></div>
    <nav id="social">
       <a href="mailto:cinephilies2.0@gmail.com"><img src="/images/mail.png" alt="Mail - Cinéphilies / Sériphilies" class="icon-social" /></a>
      <a href="#"><img src="/images/twitter.png" alt="Twitter - Cinéphilies / Sériphilies" class="icon-social" /></a>
      <a href="#"><img src="/images/facebook.png" alt="Facebook - Cinéphilies / Sériphilies" class="icon-social" /></a>
    </nav>
    <div class="clearfloat"></div>
    <div id="content">
      
      {{ content }}
      
    </div>
    <!--close content-->
    <footer class="footer">
      <p>Copyright Labex © 2015</p>
    </footer>
  </div>

  {% include analytics.html %}
  <script src="{{ site.baseurl }}/javascripts/upup.sw.min.js"></script>
  <script src="{{ site.baseurl }}/javascripts/instantclick.min.js" data-no-instant></script>
  <script data-no-instant>
    InstantClick.init();
    UpUp.start({
          'content-url': '{{ page.url | replace:'/','' }}',
          'assets':
            ['{{ site.baseurl }}/style.css', '/images/logo.svg']
        });
  </script>
</body>

</html>
